<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <TestGenerator.Properties.Settings>
            <setting name="TestPatternsPath" serializeAs="String">
                <value>data/test_patterns/</value>
            </setting>
            <setting name="QuestionNumberToken" serializeAs="String">
                <value>[#]</value>
            </setting>
            <setting name="QuestionPointsToken" serializeAs="String">
                <value>[POINTS]</value>
            </setting>
            <setting name="HeaderYearToken" serializeAs="String">
                <value>[YEAR]</value>
            </setting>
        </TestGenerator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TestGenerator.Properties.Settings>
            <setting name="FooterMaxPointsToken" serializeAs="String">
                <value>[MAX_POINTS]</value>
            </setting>
            <setting name="FooterDivPointsToken" serializeAs="String">
                <value>[DIV_POINTS]</value>
            </setting>
            <setting name="FooterRealPointsToken" serializeAs="String">
                <value>[REAL_POINTS]</value>
            </setting>
        </TestGenerator.Properties.Settings>
    </userSettings>
</configuration>